:root {
  --black: #222;
}

.modal {
  position:fixed;
  z-index: 999;
  width:fit-content;
  max-width: 800px;
  min-width: 260px;
  top: 50%;
  left: 50%;
  object-fit: contain;
  transform: translate3d(-50%, -50%, 0);
}

/* @media (max-width: 599px) {
  .modal {
    width: 95%;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .modal {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 60%;
  }
} */


.modal img {
  width: fit-content;
  border: 5px solid #fff;
}

.modal-overlay {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}

.modal-body a {
  position: absolute;
  display: inline;
  color: var(--black);
  text-decoration: none;
  line-height: 36px;
  font-size: 30px;
  font-weight: lighter;
  background: #fff;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  text-align: center;
}

.modal-body .modal-close {
  right: 0;
  top: 0;
  border-radius: 0 0 0 5px;
}

.modal-body .modal-next,
.modal-body .modal-prev {
  right: 0;
  top: calc(50% - 25px);
  border-radius: 5px 0 0 5px;
  height: 50px;
  line-height: 40px;
  font-size: 60px;
}

.modal-body .modal-prev {
  left: 0;
  right: auto;
  border-radius: 0 5px 5px 0;
}

.modal-body {
  position: relative;
}
