h1 {
    font-size: 2.5rem; /* Adjust the font size as needed */
    font-weight: bold; /* Add font-weight property */
    /* Add other styles for h1 */
}

h2 {
    font-size: 1.125rem; /* Adjust the font size as needed */
    font-weight:600; /* Add font-weight property */
    margin-top:20px;
    /* Add other styles for h2 */
}

h3 {
    font-size: 1.125rem; /* Adjust the font size as needed */
    font-weight: 600;
     margin-top:20px;
    /* Add font-weight property */
    /* Add other styles for h3 */
}

h4 {
    font-size: 1.5rem; /* Adjust the font size as needed */
    font-weight: bold; /* Add font-weight property */
    /* Add other styles for h4 */
}

h5 {
    font-size: 1.25rem; /* Adjust the font size as needed */
    font-weight: bold; /* Add font-weight property */
    /* Add other styles for h5 */
}

h6 {
    font-size: 1rem; /* Adjust the font size as needed */
    font-weight: bold; /* Add font-weight property */
    /* Add other styles for h6 */
}
